/* Cutom animations */

@keyframes fadein{
  0% { opacity:0.75; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0.75; }
  100% { opacity:1; }
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}


/* FONTS */

@font-face {
  font-family: crops;
  src: url(../fonts/crops-regular.ttf);
}

/* BASE HTML ELEMENTS */

html {
  color:#ffffff;
  overflow-y:hidden;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}


/* CLASSES */

.nav-container {
  font-size:20px;
  font-weight: 100;
  display:table;
  margin: 25px auto;
}

.nav-1 {
  list-style: none;
  padding:0;
}

.nav-1 a.active {
  opacity: 1;
}

.nav-1 li{
  display:inline;
  padding: 20px 25px;
}

.nav-1 a{
  opacity:0.75;
  text-decoration: none;
  color:#ffffff;
}

.nav-1 a:hover{
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: .8s ease 0s normal forwards 1 fadein;
}


.header-1 {
  padding:25px 10px;
  text-transform: uppercase;
  font-family:crops;
  font-size: 50px;
  letter-spacing: 5px;
  text-align:center;
}

.video-background {
  z-index: -1000;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.body-wrapper {
  position: absolute;
  height:100vh;
  width:100vw;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.crt-display {
  animation: textShadow 1.6s infinite;
}

.crt-display::after {
  animation: flicker 0.15s infinite;
}

.crt-display::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
}

.typewriter-container {
  margin: 50px auto;
  width:600px;
  text-align:center;
}

.terminal {
  background-image:url("../images/screen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x:hidden;
  border:2px solid #383838;
  color:#10cf4e;
  font-family: 'Courier New';
  font-size: 12px;
  width: 600px;
  margin: 0 auto;
  border-radius: 4px;
}

.terminal-output {
  margin:0 10px;
  padding-bottom:10px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  height:200px;
  line-height:10px;
  white-space: pre-wrap;
}

.bash {
  color:#10cf4e;
  font-family: 'Courier New';
  font-size: 12px;
  background:rgba(0,0,0,0);
  white-space: nowrap;
  box-sizing: border-box;
  display:inline-flex;
  width:100%;
  animation: textShadow 1.6s infinite;
  border: 0px solid #ffffff;
}

.input-bar{
  vertical-align: middle;
  height:25px;
}

.bash::after {
  animation: flicker 0.15s infinite;
}

.bash::before {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
}

.bash-prefix {
  padding-left: 10px;
  border-top:1px solid #383838;
  white-space: nowrap;
  box-sizing: border-box;
  display:flex;
  padding-top:5px;
}

